body {
	font-size: 1.2em;
	line-height: 1.5;
	padding: 0 1em 2em;
}

input {
	width: 350px;
	padding: 6px;
}

a:link {
	color: red;
	background-color: black;
}

a:visited {
	color: green;
}      

a:hover {
	color: #fff;
	text-decoration: none;
	background-color: red;
}

a:active {
	font-size: 1.1em;
	padding: 3px;
}

input:focus {
	background-color: yellow;
}